# Секреты
.env
.env.local
.env.production
.secrets/
*_sa.json
service-account*.json

# Зависимости
node_modules/

# Сборки
dist/
build/
.next/
out/

# Кеш
.cache/
.turbo/

# Python
__pycache__/
*.pyc
*.pyo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*
logs/

# IDE
.vscode/

venv/
docs/*.bak
